header {
    display: flex;
    justify-content: space-between;
    background-color: #242424;
    border-bottom: 5px solid #ff0043;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Fira Code', monospace;
    font-weight: 100;
    text-decoration: none;
    margin-right: 30px;
}

a:hover {
    color: #ff0043;
}

a:before {
    content: "";
    background-color: #ff0043;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #ff0043;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0;
}

#button:hover {
    /* transform: scale(1.2); */
    background-color: white;
    color: black;
}

