.action {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    margin-right: 30px;
}

.action:hover {
    color: #ff0043;
}

.action::before {
    content: "";
    background-color: #ff0043;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}