.banner {
    background-image: url(../../assets/img/photo2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid #242424;
    height: 700px;
    padding-top: 115px;
    padding-left: 115px;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.banner .box {
    margin-bottom: 20px;
}

.banner .navigation {
    display: flex;
    justify-content: space-evenly;
}